*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    width: 30%;
    margin: auto;
    padding-top:10%;
}
.card{
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}
.card-image{
    padding: 30px;
}
.card-image img{
    width: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0  10px #ccc;
}
.card p{
    font-size: 14px;
    font-style: italic;
    color: #999;
}
